@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

*{
    /* background-color: rgb(0, 61, 158); */
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
}

.nav-container{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    background-color: rgb(0, 61, 158);

}

.left-nav{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-top: 20px;
}

.left-nav img{
    padding: 10px;
}


.right-nav{
    padding-left: 50%;
}

.right-nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    color: white;
    list-style: none;

}

.right-nav ul li a{
    color: rgb(253, 253, 253);
    padding-right: 20px;
    text-decoration: none;
    padding-right: 30px;
    font-size: 17px;
}

.right-nav ul li a:hover{
    color: rgb(169, 169, 169);
    font-size: 19px;
}

.firstDiv-firstContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 580px;
    background-color: rgb(0, 61, 158);

}

.firstDiv-firstContainer h1{
    color: white;
    padding-left: 80px;
    margin-top: 90px;
    font-size: 80px;
}

.firstDiv-firstContainer img{
    height: 700px;
    width: 700px;
    padding-left: 92px;
    }

.firstDiv-secondContainer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* padding-left: 80px; */
    justify-content: space-around;
    background-color: rgb(0, 61, 158); 
    margin-bottom: 110px;
}

.firstDiv-secondContainer li{
    width: 230px;
    color: rgb(255, 255, 255);
    margin-bottom: 120px;
}

.secondDiv{
    margin-bottom: 40px;
}

.mainh3{
    padding-left: 80px;
    font-size: 40px;
    margin-bottom: 80px;
    color: rgb(0, 61, 158);
}

.secondDiv-container{
    display: flex;
    flex-direction: column;

}

.secondDiv-container img{
    height: 60px;
    width: 190px;
    padding: 30px;
}

.secondDiv-firstContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.secondDiv-secondContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pmain{
    width: 35%;
    font-size: 20px;
    justify-content: center;
    margin-left: 28%;
}

.secondDiv h5{
    width: 35%;
    font-size: 20px;
    justify-content: center;
    margin-left: 28%;
    font-weight: bold;
    
}

.secondDiv p a{
    text-decoration: none;
    color: rgb(0, 61, 158);
}

.p1Cards-container {
        display: flex;
        justify-content: center;
    }

    .p1-item {
        border: 1px solid rgb(130, 130, 130);
        margin: 30px;
        color: rgb(0, 61, 158);
        font-size: 15px;
        font-weight: 100;
        padding-right: 60px;
        padding-left: 15px;
        border-radius: 7px;
    }
    
    .p1-card1 {
        border-radius: 30px 7px 7px 7px;
    }
    
    .p1-card5 {
        border-radius: 7px 30px 7px 7px;
    }
    

.thirdDiv{
    background-color: rgb(0, 61, 158);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.thirdDiv-leftContainer h3{
    padding-left: 80px;
    font-size: 40px;
    margin-top: 90px;
    padding-top: 70px;
}

.thirdDiv-leftContainer h5{
    padding-left: 130px;
    font-size: 30px;
    padding-top: 30px;
}

.thirdDiv-leftContainer h6{
    padding-left: 130px;
    font-size: 17px;
    padding-top: 30px;
}

.thirdDiv-leftContainer p{
    padding-left: 130px;
    font-size: 17px;
    padding-top: 30px;
    width: 520px;
}
.thirdDiv-leftContainer{
    width: 50%;
}

.thirdDiv-rightContainer{
    width: 50%;
}

.thirdDiv-rightContainer img{
    justify-content: center;
    padding-top: 150px;
    padding-left: 120px;
    border-radius:  0% 0% 20% 0%;
}

.fourthDiv-container{
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    padding-top: 120px;
}

.fourthDiv-container h3{
    color: rgb(0, 61, 158);
    font-size: 22px;
    margin-bottom: 12px;
}

.fourthDiv-container li{
    list-style: none;
    font-size: 15px;
    margin-bottom: 9px;
}

.fourthDiv-container li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
